// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #11538C;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// color theme

/* Color Theme Swatches in Hex */
$space-1-hex: #11538C;
$space-2-hex: #115D8C;
$space-3-hex: #F0F1F2;
$space-4-hex: #05DBF2;
$space-5-hex: #0396A6;


/* Color Theme Swatches in HSLA */
$space-1-hsla: hsla(208, 78, 30, 0.5);
$space-2-hsla: hsla(202, 78, 30, 0.5);
$space-3-hsla: hsla(202, 8, 94, 0.5);
$space-4-hsla: hsla(185, 96, 48, 0.5);
$space-5-hsla: hsla(185, 96, 33, 0.5);