<nav class="navbar-lewagon"></nav>

<div class="banner">
  <h1 class="brand-name">Trippy Boats</h1>
  <h2>Boat rental for your boaty needs!</h2>
</div>

<div class="homepage-btn-div">
  <button class="btn btn-primary" onclick="window.location.href='../boats'">See All Boats</button>
</div>

<div class="homepage-about-us">
  <div class="homepage-about-us-text container">
    <h1>About Us</h1>
    <div class="container"> 
    <p class="text-justify">Guides to holiday locations are nothing new, but what about <strong>boat</strong> trips? <strong>Trippy Boats</strong> hosts an unique collection of boats from all over the world. This means travellers can find great boats to help them enjoy their trip, accordingly to their needs.

    Trippy Boats is an startUp that focus not only on the traveller experience, but also on the locals. People with boat sitting aside, or people who need some extra cash at the end of the month.

    Travellers and Owners also benefit, as they are likely to learn interesting facts and tips about their destination or other peoples place.
    </p>
    </div>
  </div>
</div>
