<nav class="navbar-lewagon"></nav>

<div class="banner">
  <h1>Trippy Boats;</h1>
  <h2>boat rental for your boaty needs!</h2>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
