.alert {
  position: fixed;
  bottom: 50px;
  right: 16px;
  z-index: 1000;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}

.fas {
  margin-left: 15px;
  cursor: pointer;

  &:hover {
    color: #FD1015;
  }
}